In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
import io
from google.colab import files
uploaded = files.upload()

Saving compresive_strength_concrete.csv to compresive_strength_concrete.csv

In [ ]:
concrete_data = pd.read_csv('compresive_strength_concrete.csv')
concrete_data.head()

   Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
0                                      540.0  ...                                             79.99
1                                      540.0  ...                                             61.89
2                                      332.5  ...                                             40.27
3                                      332.5  ...                                             41.05
4                                      198.6  ...                                             44.30

[5 rows x 9 columns]

In [ ]:

concrete_data.shape

(1030, 9)

In [ ]:

concrete_data.describe()

       Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
count                                1030.000000  ...                                       1030.000000
mean                                  281.167864  ...                                         35.817961
std                                   104.506364  ...                                         16.705742
min                                   102.000000  ...                                          2.330000
25%                                   192.375000  ...                                         23.710000
50%                                   272.900000  ...                                         34.445000
75%                                   350.000000  ...                                         46.135000
max                                   540.000000  ...                                         82.600000

[8 rows x 9 columns]

In [ ]:
concrete_data.isnull().sum()

Cement (component 1)(kg in a m^3 mixture)                0
Blast Furnace Slag (component 2)(kg in a m^3 mixture)    0
Fly Ash (component 3)(kg in a m^3 mixture)               0
Water  (component 4)(kg in a m^3 mixture)                0
Superplasticizer (component 5)(kg in a m^3 mixture)      0
Coarse Aggregate  (component 6)(kg in a m^3 mixture)     0
Fine Aggregate (component 7)(kg in a m^3 mixture)        0
Age (day)                                                0
Concrete compressive strength(MPa, megapascals)          0
dtype: int64

In [ ]:
predictors = concrete_data.iloc[:,0:7]
predictors.shape

(1030, 7)

In [ ]:
target = concrete_data['Concrete compressive strength(MPa, megapascals) ']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Concrete compressive strength(MPa, megapascals) , dtype: float64

In [ ]:
n_cols = predictors.shape[1]

In [ ]:
import keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
def regression_model():
  model = Sequential()
  model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
  model.add(Dense(1))

  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

In [ ]:
model_1h = regression_model()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

def calcul_MSE(model, predictor, num_epochs):

    MSE_list = []
    Repetition = 2

    for i in range(Repetition):

        X_train, X_test, y_train, y_test = train_test_split(predictor, target, test_size=0.3, random_state=None)

        # fit the model and train the model on the training data using 50 epochs.
        model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=num_epochs, verbose=2)

        # Make predictions using the testing set
        strength_y_pred = model.predict(X_test)

        # The mean squared error
        MSE = mean_squared_error(y_test, strength_y_pred)
        print(f'--------- MSE {i+1}/{Repetition} = {MSE:.2f}------------------------------------------')
        MSE_list.append(MSE)
    
    return MSE_list

In [ ]:
MSE_list_A = calcul_MSE(model_1h, predictors, 50)

Epoch 1/50
23/23 - 1s - loss: 3765.2080 - val_loss: 1791.9834
Epoch 2/50
23/23 - 0s - loss: 2060.7444 - val_loss: 1471.7826
Epoch 3/50
23/23 - 0s - loss: 1704.3251 - val_loss: 1261.7324
Epoch 4/50
23/23 - 0s - loss: 1493.5967 - val_loss: 1105.0790
Epoch 5/50
23/23 - 0s - loss: 1319.8262 - val_loss: 981.4706
Epoch 6/50
23/23 - 0s - loss: 1186.8593 - val_loss: 875.0812
Epoch 7/50
23/23 - 0s - loss: 1063.3320 - val_loss: 786.1782
Epoch 8/50
23/23 - 0s - loss: 960.1003 - val_loss: 709.8616
Epoch 9/50
23/23 - 0s - loss: 871.3519 - val_loss: 642.7575
Epoch 10/50
23/23 - 0s - loss: 791.6106 - val_loss: 589.2446
Epoch 11/50
23/23 - 0s - loss: 730.2060 - val_loss: 537.4709
Epoch 12/50
23/23 - 0s - loss: 667.7651 - val_loss: 493.8317
Epoch 13/50
23/23 - 0s - loss: 613.2069 - val_loss: 458.0571
Epoch 14/50
23/23 - 0s - loss: 570.3939 - val_loss: 426.1661
Epoch 15/50
23/23 - 0s - loss: 535.5693 - val_loss: 398.4342
Epoch 16/50
23/23 - 0s - loss: 497.8800 - val_loss: 373.3720
Epoch 17/50
23/23 - 0s - loss: 464.9473 - val_loss: 349.8511
Epoch 18/50
23/23 - 0s - loss: 436.8608 - val_loss: 330.9358
Epoch 19/50
23/23 - 0s - loss: 417.2986 - val_loss: 314.8031
Epoch 20/50
23/23 - 0s - loss: 398.1991 - val_loss: 296.8835
Epoch 21/50
23/23 - 0s - loss: 368.2554 - val_loss: 282.1344
Epoch 22/50
23/23 - 0s - loss: 353.1992 - val_loss: 272.9508
Epoch 23/50
23/23 - 0s - loss: 336.7694 - val_loss: 259.2194
Epoch 24/50
23/23 - 0s - loss: 324.3648 - val_loss: 249.8831
Epoch 25/50
23/23 - 0s - loss: 311.5740 - val_loss: 241.7926
Epoch 26/50
23/23 - 0s - loss: 299.7977 - val_loss: 234.8560
Epoch 27/50
23/23 - 0s - loss: 289.7426 - val_loss: 227.1776
Epoch 28/50
23/23 - 0s - loss: 281.8111 - val_loss: 221.5993
Epoch 29/50
23/23 - 0s - loss: 274.4134 - val_loss: 216.8717
Epoch 30/50
23/23 - 0s - loss: 266.2249 - val_loss: 211.6975
Epoch 31/50
23/23 - 0s - loss: 259.9206 - val_loss: 207.7484
Epoch 32/50
23/23 - 0s - loss: 253.9375 - val_loss: 203.2560
Epoch 33/50
23/23 - 0s - loss: 248.1807 - val_loss: 200.1022
Epoch 34/50
23/23 - 0s - loss: 245.7931 - val_loss: 199.3380
Epoch 35/50
23/23 - 0s - loss: 240.3473 - val_loss: 193.1817
Epoch 36/50
23/23 - 0s - loss: 234.2469 - val_loss: 189.7049
Epoch 37/50
23/23 - 0s - loss: 229.5876 - val_loss: 187.9493
Epoch 38/50
23/23 - 0s - loss: 226.5604 - val_loss: 185.1640
Epoch 39/50
23/23 - 0s - loss: 222.2761 - val_loss: 182.9009
Epoch 40/50
23/23 - 0s - loss: 219.1833 - val_loss: 181.0391
Epoch 41/50
23/23 - 0s - loss: 216.7727 - val_loss: 179.3342
Epoch 42/50
23/23 - 0s - loss: 212.7649 - val_loss: 177.5241
Epoch 43/50
23/23 - 0s - loss: 210.7528 - val_loss: 175.8428
Epoch 44/50
23/23 - 0s - loss: 209.0249 - val_loss: 173.5128
Epoch 45/50
23/23 - 0s - loss: 208.1989 - val_loss: 172.4392
Epoch 46/50
23/23 - 0s - loss: 205.3311 - val_loss: 175.7570
Epoch 47/50
23/23 - 0s - loss: 203.5258 - val_loss: 169.3311
Epoch 48/50
23/23 - 0s - loss: 200.6212 - val_loss: 167.7609
Epoch 49/50
23/23 - 0s - loss: 197.6720 - val_loss: 167.7997
Epoch 50/50
23/23 - 0s - loss: 196.1889 - val_loss: 165.7196
--------- MSE 1/2 = 165.72------------------------------------------
Epoch 1/50
23/23 - 0s - loss: 182.3283 - val_loss: 193.2409
Epoch 2/50
23/23 - 0s - loss: 181.3543 - val_loss: 194.6223
Epoch 3/50
23/23 - 0s - loss: 180.4075 - val_loss: 192.4118
Epoch 4/50
23/23 - 0s - loss: 180.0939 - val_loss: 191.0065
Epoch 5/50
23/23 - 0s - loss: 178.8910 - val_loss: 190.2403
Epoch 6/50
23/23 - 0s - loss: 180.1140 - val_loss: 189.2205
Epoch 7/50
23/23 - 0s - loss: 177.8651 - val_loss: 188.2292
Epoch 8/50
23/23 - 0s - loss: 177.6166 - val_loss: 190.4039
Epoch 9/50
23/23 - 0s - loss: 174.4847 - val_loss: 194.8358
Epoch 10/50
23/23 - 0s - loss: 176.9983 - val_loss: 185.9826
Epoch 11/50
23/23 - 0s - loss: 174.4939 - val_loss: 187.4983
Epoch 12/50
23/23 - 0s - loss: 178.0328 - val_loss: 188.3158
Epoch 13/50
23/23 - 0s - loss: 173.5820 - val_loss: 183.4568
Epoch 14/50
23/23 - 0s - loss: 172.9040 - val_loss: 182.8252
Epoch 15/50
23/23 - 0s - loss: 172.7207 - val_loss: 184.9216
Epoch 16/50
23/23 - 0s - loss: 172.3804 - val_loss: 182.1913
Epoch 17/50
23/23 - 0s - loss: 171.6054 - val_loss: 181.4093
Epoch 18/50
23/23 - 0s - loss: 172.3166 - val_loss: 179.9686
Epoch 19/50
23/23 - 0s - loss: 173.9824 - val_loss: 180.2060
Epoch 20/50
23/23 - 0s - loss: 169.6378 - val_loss: 179.1545
Epoch 21/50
23/23 - 0s - loss: 169.3000 - val_loss: 178.0983
Epoch 22/50
23/23 - 0s - loss: 168.8951 - val_loss: 179.6660
Epoch 23/50
23/23 - 0s - loss: 168.7934 - val_loss: 178.5950
Epoch 24/50
23/23 - 0s - loss: 168.2281 - val_loss: 176.5521
Epoch 25/50
23/23 - 0s - loss: 167.4299 - val_loss: 177.1815
Epoch 26/50
23/23 - 0s - loss: 166.6908 - val_loss: 176.4375
Epoch 27/50
23/23 - 0s - loss: 171.0894 - val_loss: 180.4506
Epoch 28/50
23/23 - 0s - loss: 170.9834 - val_loss: 176.6933
Epoch 29/50
23/23 - 0s - loss: 165.8893 - val_loss: 183.3041
Epoch 30/50
23/23 - 0s - loss: 169.3047 - val_loss: 175.9066
Epoch 31/50
23/23 - 0s - loss: 165.9128 - val_loss: 173.0401
Epoch 32/50
23/23 - 0s - loss: 165.2073 - val_loss: 172.6213
Epoch 33/50
23/23 - 0s - loss: 165.3588 - val_loss: 174.5321
Epoch 34/50
23/23 - 0s - loss: 167.4699 - val_loss: 176.2701
Epoch 35/50
23/23 - 0s - loss: 165.4133 - val_loss: 172.1490
Epoch 36/50
23/23 - 0s - loss: 164.2757 - val_loss: 171.4267
Epoch 37/50
23/23 - 0s - loss: 164.9912 - val_loss: 171.5842
Epoch 38/50
23/23 - 0s - loss: 163.7841 - val_loss: 170.8097
Epoch 39/50
23/23 - 0s - loss: 163.1107 - val_loss: 169.6955
Epoch 40/50
23/23 - 0s - loss: 161.6391 - val_loss: 175.6559
Epoch 41/50
23/23 - 0s - loss: 164.7641 - val_loss: 171.5000
Epoch 42/50
23/23 - 0s - loss: 166.6456 - val_loss: 168.8139
Epoch 43/50
23/23 - 0s - loss: 164.6302 - val_loss: 171.7150
Epoch 44/50
23/23 - 0s - loss: 165.0092 - val_loss: 168.0681
Epoch 45/50
23/23 - 0s - loss: 163.5830 - val_loss: 167.7463
Epoch 46/50
23/23 - 0s - loss: 163.3340 - val_loss: 167.1386
Epoch 47/50
23/23 - 0s - loss: 161.0698 - val_loss: 166.9081
Epoch 48/50
23/23 - 0s - loss: 161.7116 - val_loss: 168.6694
Epoch 49/50
23/23 - 0s - loss: 161.9707 - val_loss: 167.3115
Epoch 50/50
23/23 - 0s - loss: 160.7604 - val_loss: 165.9847
--------- MSE 2/2 = 165.98------------------------------------------

In [ ]:
length_MSE_A = len(MSE_list_A)
mean_MSE_A = np.mean(MSE_list_A)
sd_MSE_A = np.std(MSE_list_A)

In [ ]:
print(f'Number of mean squared errors: {length_MSE_A}')
print(f'Mean of the mean squared errors: {mean_MSE_A:.2f}')
print(f'Standard deviation of the mean squared errors: {sd_MSE_A:.2f}')

Number of mean squared errors: 2
Mean of the mean squared errors: 165.85
Standard deviation of the mean squared errors: 0.13

In [ ]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

   Cement (component 1)(kg in a m^3 mixture)  ...  Fine Aggregate (component 7)(kg in a m^3 mixture)
0                                   2.476712  ...                                          -1.217079
1                                   2.476712  ...                                          -1.217079
2                                   0.491187  ...                                          -2.239829
3                                   0.491187  ...                                          -2.239829
4                                  -0.790075  ...                                           0.647569

[5 rows x 7 columns]

In [ ]:
# Build the list of mean squared errors
MSE_list_B = calcul_MSE(model_1h, predictors_norm, 10)

Epoch 1/10
23/23 - 0s - loss: 1554.3157 - val_loss: 1542.5868
Epoch 2/10
23/23 - 0s - loss: 1505.5050 - val_loss: 1493.8434
Epoch 3/10
23/23 - 0s - loss: 1454.6593 - val_loss: 1445.4939
Epoch 4/10
23/23 - 0s - loss: 1404.1366 - val_loss: 1396.4625
Epoch 5/10
23/23 - 0s - loss: 1353.8105 - val_loss: 1348.4010
Epoch 6/10
23/23 - 0s - loss: 1306.3099 - val_loss: 1300.3317
Epoch 7/10
23/23 - 0s - loss: 1258.7742 - val_loss: 1255.2977
Epoch 8/10
23/23 - 0s - loss: 1214.2860 - val_loss: 1210.8188
Epoch 9/10
23/23 - 0s - loss: 1172.0918 - val_loss: 1168.3999
Epoch 10/10
23/23 - 0s - loss: 1131.1562 - val_loss: 1128.3770
--------- MSE 1/2 = 1128.38------------------------------------------
Epoch 1/10
23/23 - 0s - loss: 1085.1299 - val_loss: 1107.5956
Epoch 2/10
23/23 - 0s - loss: 1049.0149 - val_loss: 1069.9580
Epoch 3/10
23/23 - 0s - loss: 1013.8136 - val_loss: 1034.4944
Epoch 4/10
23/23 - 0s - loss: 980.9522 - val_loss: 999.9280
Epoch 5/10
23/23 - 0s - loss: 949.0844 - val_loss: 968.4940
Epoch 6/10
23/23 - 0s - loss: 919.9091 - val_loss: 937.8712
Epoch 7/10
23/23 - 0s - loss: 891.7156 - val_loss: 909.0768
Epoch 8/10
23/23 - 0s - loss: 864.7297 - val_loss: 882.2010
Epoch 9/10
23/23 - 0s - loss: 839.5213 - val_loss: 855.9241
Epoch 10/10
23/23 - 0s - loss: 815.5586 - val_loss: 831.4474
--------- MSE 2/2 = 831.45------------------------------------------

In [ ]:
# Calculate the length, the mean and the standard deviation
length_MSE_B = len(MSE_list_B)
mean_MSE_B = np.mean(MSE_list_B)
sd_MSE_B = np.std(MSE_list_B)

In [ ]:
# Print the values
print(f'Number of mean squared errors: {length_MSE_B}')
print(f'Mean of the mean squared errors: {mean_MSE_B:.2f}')
print(f'Standard deviation of the mean squared errors: {sd_MSE_B:.2f}')

Number of mean squared errors: 2
Mean of the mean squared errors: 979.91
Standard deviation of the mean squared errors: 148.46

In [ ]:
# DataFrame
data = {'A':[mean_MSE_A , sd_MSE_A], 'B':[mean_MSE_B , sd_MSE_B]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['Mean', 'StD'])
  
# print the data 
df.round(2)

           A       B
Mean  165.85  979.91
StD     0.13  148.46

In [ ]:
MSE_list_C = calcul_MSE(model_1h, predictors_norm, 100)

Epoch 1/100
23/23 - 0s - loss: 786.8039 - val_loss: 821.9736
Epoch 2/100
23/23 - 0s - loss: 764.1876 - val_loss: 799.9240
Epoch 3/100
23/23 - 0s - loss: 742.2599 - val_loss: 778.5601
Epoch 4/100
23/23 - 0s - loss: 721.1254 - val_loss: 757.4805
Epoch 5/100
23/23 - 0s - loss: 700.1187 - val_loss: 736.8710
Epoch 6/100
23/23 - 0s - loss: 679.2717 - val_loss: 716.7485
Epoch 7/100
23/23 - 0s - loss: 658.5798 - val_loss: 696.0339
Epoch 8/100
23/23 - 0s - loss: 637.5393 - val_loss: 675.5025
Epoch 9/100
23/23 - 0s - loss: 616.5331 - val_loss: 654.3770
Epoch 10/100
23/23 - 0s - loss: 594.7938 - val_loss: 633.4060
Epoch 11/100
23/23 - 0s - loss: 573.6080 - val_loss: 612.5019
Epoch 12/100
23/23 - 0s - loss: 552.5127 - val_loss: 591.8978
Epoch 13/100
23/23 - 0s - loss: 531.8235 - val_loss: 571.9180
Epoch 14/100
23/23 - 0s - loss: 511.4140 - val_loss: 552.7475
Epoch 15/100
23/23 - 0s - loss: 491.8098 - val_loss: 533.4021
Epoch 16/100
23/23 - 0s - loss: 472.4518 - val_loss: 514.3671
Epoch 17/100
23/23 - 0s - loss: 453.6356 - val_loss: 496.5481
Epoch 18/100
23/23 - 0s - loss: 436.4170 - val_loss: 478.7166
Epoch 19/100
23/23 - 0s - loss: 418.9456 - val_loss: 461.7451
Epoch 20/100
23/23 - 0s - loss: 402.4833 - val_loss: 445.9847
Epoch 21/100
23/23 - 0s - loss: 386.7006 - val_loss: 431.1348
Epoch 22/100
23/23 - 0s - loss: 372.1611 - val_loss: 415.8979
Epoch 23/100
23/23 - 0s - loss: 357.6367 - val_loss: 402.1350
Epoch 24/100
23/23 - 0s - loss: 344.2293 - val_loss: 388.4153
Epoch 25/100
23/23 - 0s - loss: 331.3554 - val_loss: 375.5809
Epoch 26/100
23/23 - 0s - loss: 319.0844 - val_loss: 363.6351
Epoch 27/100
23/23 - 0s - loss: 308.0943 - val_loss: 351.8023
Epoch 28/100
23/23 - 0s - loss: 297.2982 - val_loss: 340.8881
Epoch 29/100
23/23 - 0s - loss: 287.6120 - val_loss: 330.0282
Epoch 30/100
23/23 - 0s - loss: 277.9790 - val_loss: 320.4683
Epoch 31/100
23/23 - 0s - loss: 269.3871 - val_loss: 311.4247
Epoch 32/100
23/23 - 0s - loss: 261.5558 - val_loss: 303.3090
Epoch 33/100
23/23 - 0s - loss: 254.5153 - val_loss: 295.8090
Epoch 34/100
23/23 - 0s - loss: 248.1093 - val_loss: 289.1398
Epoch 35/100
23/23 - 0s - loss: 242.5729 - val_loss: 282.7302
Epoch 36/100
23/23 - 0s - loss: 237.1083 - val_loss: 277.1479
Epoch 37/100
23/23 - 0s - loss: 232.1813 - val_loss: 271.9298
Epoch 38/100
23/23 - 0s - loss: 227.8065 - val_loss: 267.2721
Epoch 39/100
23/23 - 0s - loss: 223.8591 - val_loss: 263.3434
Epoch 40/100
23/23 - 0s - loss: 220.4506 - val_loss: 259.4004
Epoch 41/100
23/23 - 0s - loss: 217.2653 - val_loss: 256.0390
Epoch 42/100
23/23 - 0s - loss: 214.5275 - val_loss: 252.8583
Epoch 43/100
23/23 - 0s - loss: 212.0082 - val_loss: 250.0501
Epoch 44/100
23/23 - 0s - loss: 209.8311 - val_loss: 247.4967
Epoch 45/100
23/23 - 0s - loss: 207.7028 - val_loss: 245.2517
Epoch 46/100
23/23 - 0s - loss: 205.8476 - val_loss: 243.1003
Epoch 47/100
23/23 - 0s - loss: 204.1760 - val_loss: 241.1828
Epoch 48/100
23/23 - 0s - loss: 202.6387 - val_loss: 239.3073
Epoch 49/100
23/23 - 0s - loss: 201.1955 - val_loss: 237.6735
Epoch 50/100
23/23 - 0s - loss: 200.0536 - val_loss: 236.0597
Epoch 51/100
23/23 - 0s - loss: 198.8311 - val_loss: 234.8009
Epoch 52/100
23/23 - 0s - loss: 197.7898 - val_loss: 233.6286
Epoch 53/100
23/23 - 0s - loss: 196.8688 - val_loss: 232.4999
Epoch 54/100
23/23 - 0s - loss: 195.9309 - val_loss: 231.5108
Epoch 55/100
23/23 - 0s - loss: 195.1275 - val_loss: 230.4379
Epoch 56/100
23/23 - 0s - loss: 194.3294 - val_loss: 229.4259
Epoch 57/100
23/23 - 0s - loss: 193.5760 - val_loss: 228.3882
Epoch 58/100
23/23 - 0s - loss: 192.8205 - val_loss: 227.6457
Epoch 59/100
23/23 - 0s - loss: 192.1861 - val_loss: 226.8549
Epoch 60/100
23/23 - 0s - loss: 191.5588 - val_loss: 226.1163
Epoch 61/100
23/23 - 0s - loss: 191.0073 - val_loss: 225.3645
Epoch 62/100
23/23 - 0s - loss: 190.4583 - val_loss: 224.8099
Epoch 63/100
23/23 - 0s - loss: 189.9266 - val_loss: 224.2204
Epoch 64/100
23/23 - 0s - loss: 189.4346 - val_loss: 223.5543
Epoch 65/100
23/23 - 0s - loss: 188.9388 - val_loss: 222.9517
Epoch 66/100
23/23 - 0s - loss: 188.4951 - val_loss: 222.3851
Epoch 67/100
23/23 - 0s - loss: 188.0462 - val_loss: 221.7568
Epoch 68/100
23/23 - 0s - loss: 187.6230 - val_loss: 221.2446
Epoch 69/100
23/23 - 0s - loss: 187.1878 - val_loss: 220.7826
Epoch 70/100
23/23 - 0s - loss: 186.7459 - val_loss: 220.3433
Epoch 71/100
23/23 - 0s - loss: 186.3678 - val_loss: 219.9012
Epoch 72/100
23/23 - 0s - loss: 185.9585 - val_loss: 219.4546
Epoch 73/100
23/23 - 0s - loss: 185.6122 - val_loss: 219.0002
Epoch 74/100
23/23 - 0s - loss: 185.1694 - val_loss: 218.5955
Epoch 75/100
23/23 - 0s - loss: 184.8219 - val_loss: 218.2623
Epoch 76/100
23/23 - 0s - loss: 184.4897 - val_loss: 217.8160
Epoch 77/100
23/23 - 0s - loss: 184.1047 - val_loss: 217.4331
Epoch 78/100
23/23 - 0s - loss: 183.7522 - val_loss: 216.9661
Epoch 79/100
23/23 - 0s - loss: 183.4246 - val_loss: 216.5629
Epoch 80/100
23/23 - 0s - loss: 183.0758 - val_loss: 216.2030
Epoch 81/100
23/23 - 0s - loss: 182.7201 - val_loss: 215.7749
Epoch 82/100
23/23 - 0s - loss: 182.4113 - val_loss: 215.4938
Epoch 83/100
23/23 - 0s - loss: 182.1186 - val_loss: 215.1660
Epoch 84/100
23/23 - 0s - loss: 181.7777 - val_loss: 214.5986
Epoch 85/100
23/23 - 0s - loss: 181.4552 - val_loss: 214.1850
Epoch 86/100
23/23 - 0s - loss: 181.1508 - val_loss: 213.8452
Epoch 87/100
23/23 - 0s - loss: 180.8284 - val_loss: 213.5058
Epoch 88/100
23/23 - 0s - loss: 180.5986 - val_loss: 213.1017
Epoch 89/100
23/23 - 0s - loss: 180.2894 - val_loss: 212.6563
Epoch 90/100
23/23 - 0s - loss: 179.9702 - val_loss: 212.2384
Epoch 91/100
23/23 - 0s - loss: 179.6774 - val_loss: 211.9258
Epoch 92/100
23/23 - 0s - loss: 179.4234 - val_loss: 211.6575
Epoch 93/100
23/23 - 0s - loss: 179.1279 - val_loss: 211.1276
Epoch 94/100
23/23 - 0s - loss: 178.8271 - val_loss: 210.7954
Epoch 95/100
23/23 - 0s - loss: 178.5789 - val_loss: 210.5159
Epoch 96/100
23/23 - 0s - loss: 178.2762 - val_loss: 210.2483
Epoch 97/100
23/23 - 0s - loss: 177.9753 - val_loss: 209.8138
Epoch 98/100
23/23 - 0s - loss: 177.7045 - val_loss: 209.4859
Epoch 99/100
23/23 - 0s - loss: 177.4264 - val_loss: 209.1695
Epoch 100/100
23/23 - 0s - loss: 177.1823 - val_loss: 208.8846
--------- MSE 1/2 = 208.88------------------------------------------
Epoch 1/100
23/23 - 0s - loss: 181.0193 - val_loss: 198.7918
Epoch 2/100
23/23 - 0s - loss: 180.6313 - val_loss: 198.5252
Epoch 3/100
23/23 - 0s - loss: 180.3127 - val_loss: 198.1889
Epoch 4/100
23/23 - 0s - loss: 179.9704 - val_loss: 197.8657
Epoch 5/100
23/23 - 0s - loss: 179.7181 - val_loss: 197.5093
Epoch 6/100
23/23 - 0s - loss: 179.3825 - val_loss: 197.1400
Epoch 7/100
23/23 - 0s - loss: 179.0427 - val_loss: 196.9463
Epoch 8/100
23/23 - 0s - loss: 178.7145 - val_loss: 196.6303
Epoch 9/100
23/23 - 0s - loss: 178.4803 - val_loss: 196.3543
Epoch 10/100
23/23 - 0s - loss: 178.1710 - val_loss: 196.0605
Epoch 11/100
23/23 - 0s - loss: 177.9511 - val_loss: 195.7286
Epoch 12/100
23/23 - 0s - loss: 177.6482 - val_loss: 195.4459
Epoch 13/100
23/23 - 0s - loss: 177.4319 - val_loss: 195.1346
Epoch 14/100
23/23 - 0s - loss: 177.2015 - val_loss: 194.8975
Epoch 15/100
23/23 - 0s - loss: 176.9159 - val_loss: 194.6059
Epoch 16/100
23/23 - 0s - loss: 176.6369 - val_loss: 194.2977
Epoch 17/100
23/23 - 0s - loss: 176.4568 - val_loss: 194.0142
Epoch 18/100
23/23 - 0s - loss: 176.2050 - val_loss: 193.7655
Epoch 19/100
23/23 - 0s - loss: 175.9756 - val_loss: 193.4095
Epoch 20/100
23/23 - 0s - loss: 175.7115 - val_loss: 193.0991
Epoch 21/100
23/23 - 0s - loss: 175.4608 - val_loss: 192.8405
Epoch 22/100
23/23 - 0s - loss: 175.3154 - val_loss: 192.5361
Epoch 23/100
23/23 - 0s - loss: 175.0189 - val_loss: 192.2689
Epoch 24/100
23/23 - 0s - loss: 174.7763 - val_loss: 191.9694
Epoch 25/100
23/23 - 0s - loss: 174.5387 - val_loss: 191.6484
Epoch 26/100
23/23 - 0s - loss: 174.3178 - val_loss: 191.3842
Epoch 27/100
23/23 - 0s - loss: 174.0279 - val_loss: 191.1048
Epoch 28/100
23/23 - 0s - loss: 173.7957 - val_loss: 190.7862
Epoch 29/100
23/23 - 0s - loss: 173.5596 - val_loss: 190.5012
Epoch 30/100
23/23 - 0s - loss: 173.2894 - val_loss: 190.1544
Epoch 31/100
23/23 - 0s - loss: 173.0186 - val_loss: 189.8021
Epoch 32/100
23/23 - 0s - loss: 172.8401 - val_loss: 189.4689
Epoch 33/100
23/23 - 0s - loss: 172.5509 - val_loss: 189.2262
Epoch 34/100
23/23 - 0s - loss: 172.2805 - val_loss: 188.9342
Epoch 35/100
23/23 - 0s - loss: 172.0427 - val_loss: 188.6661
Epoch 36/100
23/23 - 0s - loss: 171.8198 - val_loss: 188.3823
Epoch 37/100
23/23 - 0s - loss: 171.5686 - val_loss: 188.0745
Epoch 38/100
23/23 - 0s - loss: 171.3386 - val_loss: 187.8379
Epoch 39/100
23/23 - 0s - loss: 171.1495 - val_loss: 187.4986
Epoch 40/100
23/23 - 0s - loss: 170.9604 - val_loss: 187.2810
Epoch 41/100
23/23 - 0s - loss: 170.6991 - val_loss: 186.9815
Epoch 42/100
23/23 - 0s - loss: 170.4743 - val_loss: 186.6404
Epoch 43/100
23/23 - 0s - loss: 170.1864 - val_loss: 186.3472
Epoch 44/100
23/23 - 0s - loss: 169.9562 - val_loss: 186.1085
Epoch 45/100
23/23 - 0s - loss: 169.7880 - val_loss: 185.8008
Epoch 46/100
23/23 - 0s - loss: 169.5196 - val_loss: 185.4983
Epoch 47/100
23/23 - 0s - loss: 169.3424 - val_loss: 185.2747
Epoch 48/100
23/23 - 0s - loss: 169.1196 - val_loss: 184.9216
Epoch 49/100
23/23 - 0s - loss: 168.8883 - val_loss: 184.6173
Epoch 50/100
23/23 - 0s - loss: 168.7110 - val_loss: 184.3940
Epoch 51/100
23/23 - 0s - loss: 168.4696 - val_loss: 184.1065
Epoch 52/100
23/23 - 0s - loss: 168.2736 - val_loss: 183.8084
Epoch 53/100
23/23 - 0s - loss: 168.0704 - val_loss: 183.5157
Epoch 54/100
23/23 - 0s - loss: 167.8043 - val_loss: 183.2630
Epoch 55/100
23/23 - 0s - loss: 167.6037 - val_loss: 182.9405
Epoch 56/100
23/23 - 0s - loss: 167.4505 - val_loss: 182.7244
Epoch 57/100
23/23 - 0s - loss: 167.2096 - val_loss: 182.4587
Epoch 58/100
23/23 - 0s - loss: 167.0549 - val_loss: 182.1658
Epoch 59/100
23/23 - 0s - loss: 166.8308 - val_loss: 181.9159
Epoch 60/100
23/23 - 0s - loss: 166.6251 - val_loss: 181.7125
Epoch 61/100
23/23 - 0s - loss: 166.4635 - val_loss: 181.4987
Epoch 62/100
23/23 - 0s - loss: 166.3047 - val_loss: 181.1647
Epoch 63/100
23/23 - 0s - loss: 166.0525 - val_loss: 180.9435
Epoch 64/100
23/23 - 0s - loss: 165.8459 - val_loss: 180.6545
Epoch 65/100
23/23 - 0s - loss: 165.6869 - val_loss: 180.3849
Epoch 66/100
23/23 - 0s - loss: 165.5078 - val_loss: 180.1584
Epoch 67/100
23/23 - 0s - loss: 165.3552 - val_loss: 179.9195
Epoch 68/100
23/23 - 0s - loss: 165.2018 - val_loss: 179.6817
Epoch 69/100
23/23 - 0s - loss: 164.9421 - val_loss: 179.4272
Epoch 70/100
23/23 - 0s - loss: 164.7773 - val_loss: 179.1278
Epoch 71/100
23/23 - 0s - loss: 164.5899 - val_loss: 178.9514
Epoch 72/100
23/23 - 0s - loss: 164.3969 - val_loss: 178.6584
Epoch 73/100
23/23 - 0s - loss: 164.2387 - val_loss: 178.4196
Epoch 74/100
23/23 - 0s - loss: 164.0064 - val_loss: 178.1211
Epoch 75/100
23/23 - 0s - loss: 163.7989 - val_loss: 177.9431
Epoch 76/100
23/23 - 0s - loss: 163.6462 - val_loss: 177.7170
Epoch 77/100
23/23 - 0s - loss: 163.4343 - val_loss: 177.4396
Epoch 78/100
23/23 - 0s - loss: 163.2603 - val_loss: 177.1947
Epoch 79/100
23/23 - 0s - loss: 163.0605 - val_loss: 176.9639
Epoch 80/100
23/23 - 0s - loss: 162.8912 - val_loss: 176.7001
Epoch 81/100
23/23 - 0s - loss: 162.6710 - val_loss: 176.4313
Epoch 82/100
23/23 - 0s - loss: 162.5244 - val_loss: 176.2025
Epoch 83/100
23/23 - 0s - loss: 162.3441 - val_loss: 175.9851
Epoch 84/100
23/23 - 0s - loss: 162.1171 - val_loss: 175.7169
Epoch 85/100
23/23 - 0s - loss: 161.9202 - val_loss: 175.4608
Epoch 86/100
23/23 - 0s - loss: 161.7782 - val_loss: 175.2314
Epoch 87/100
23/23 - 0s - loss: 161.5405 - val_loss: 175.0290
Epoch 88/100
23/23 - 0s - loss: 161.3640 - val_loss: 174.7571
Epoch 89/100
23/23 - 0s - loss: 161.1868 - val_loss: 174.5358
Epoch 90/100
23/23 - 0s - loss: 161.0566 - val_loss: 174.2274
Epoch 91/100
23/23 - 0s - loss: 160.8560 - val_loss: 174.0348
Epoch 92/100
23/23 - 0s - loss: 160.6482 - val_loss: 173.7786
Epoch 93/100
23/23 - 0s - loss: 160.4998 - val_loss: 173.5347
Epoch 94/100
23/23 - 0s - loss: 160.2397 - val_loss: 173.3012
Epoch 95/100
23/23 - 0s - loss: 160.1116 - val_loss: 173.0912
Epoch 96/100
23/23 - 0s - loss: 159.9675 - val_loss: 172.8088
Epoch 97/100
23/23 - 0s - loss: 159.7665 - val_loss: 172.6087
Epoch 98/100
23/23 - 0s - loss: 159.5903 - val_loss: 172.3264
Epoch 99/100
23/23 - 0s - loss: 159.4227 - val_loss: 172.1828
Epoch 100/100
23/23 - 0s - loss: 159.1771 - val_loss: 171.8981
--------- MSE 2/2 = 171.90------------------------------------------

In [ ]:
# Calculate the length, the mean and the standard deviation
length_MSE_C = len(MSE_list_C)
mean_MSE_C = np.mean(MSE_list_C)
sd_MSE_C = np.std(MSE_list_C)

In [ ]:
# Print the values
print(f'Number of mean squared errors: {length_MSE_C}')
print(f'Mean of the mean squared errors: {mean_MSE_C:.2f}')
print(f'Standard deviation of the mean squared errors: {sd_MSE_C:.2f}')

Number of mean squared errors: 2
Mean of the mean squared errors: 190.39
Standard deviation of the mean squared errors: 18.49

In [ ]:
# initialise data of lists. 
data = {'A':[mean_MSE_A , sd_MSE_A], 'B':[mean_MSE_B , sd_MSE_B],
        'C':[mean_MSE_C , sd_MSE_C]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['Mean', 'StD'])

# print the data 
df.round(2)

           A       B       C
Mean  165.85  979.91  190.39
StD     0.13  148.46   18.49

In [ ]:
# define regression model with 3 hidden layers, each of 10 nodes and ReLU activation function.
def regression_model_3hl():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [ ]:
model_3hl = regression_model_3hl()

In [ ]:
MSE_list_D = calcul_MSE(model_3hl, predictors_norm, 50)

Epoch 1/50
23/23 - 1s - loss: 1545.3474 - val_loss: 1591.3829
Epoch 2/50
23/23 - 0s - loss: 1529.9513 - val_loss: 1575.6769
Epoch 3/50
23/23 - 0s - loss: 1510.2227 - val_loss: 1552.2877
Epoch 4/50
23/23 - 0s - loss: 1480.9938 - val_loss: 1518.0237
Epoch 5/50
23/23 - 0s - loss: 1437.9385 - val_loss: 1467.0275
Epoch 6/50
23/23 - 0s - loss: 1373.6946 - val_loss: 1391.4248
Epoch 7/50
23/23 - 0s - loss: 1278.6715 - val_loss: 1278.7527
Epoch 8/50
23/23 - 0s - loss: 1143.0792 - val_loss: 1123.2526
Epoch 9/50
23/23 - 0s - loss: 962.7696 - val_loss: 927.0833
Epoch 10/50
23/23 - 0s - loss: 751.3447 - val_loss: 707.7197
Epoch 11/50
23/23 - 0s - loss: 545.7111 - val_loss: 514.2772
Epoch 12/50
23/23 - 0s - loss: 389.7537 - val_loss: 372.2941
Epoch 13/50
23/23 - 0s - loss: 291.6663 - val_loss: 288.9993
Epoch 14/50
23/23 - 0s - loss: 238.0060 - val_loss: 242.2941
Epoch 15/50
23/23 - 0s - loss: 208.8033 - val_loss: 224.1045
Epoch 16/50
23/23 - 0s - loss: 196.9184 - val_loss: 215.7576
Epoch 17/50
23/23 - 0s - loss: 192.1700 - val_loss: 211.5915
Epoch 18/50
23/23 - 0s - loss: 189.4103 - val_loss: 208.6331
Epoch 19/50
23/23 - 0s - loss: 187.3248 - val_loss: 206.4269
Epoch 20/50
23/23 - 0s - loss: 185.9635 - val_loss: 204.1659
Epoch 21/50
23/23 - 0s - loss: 184.5323 - val_loss: 202.4445
Epoch 22/50
23/23 - 0s - loss: 183.1999 - val_loss: 201.8495
Epoch 23/50
23/23 - 0s - loss: 182.0160 - val_loss: 199.7783
Epoch 24/50
23/23 - 0s - loss: 180.7715 - val_loss: 198.5001
Epoch 25/50
23/23 - 0s - loss: 179.5750 - val_loss: 197.1344
Epoch 26/50
23/23 - 0s - loss: 178.6322 - val_loss: 196.0269
Epoch 27/50
23/23 - 0s - loss: 177.7007 - val_loss: 195.0709
Epoch 28/50
23/23 - 0s - loss: 176.4825 - val_loss: 193.5974
Epoch 29/50
23/23 - 0s - loss: 175.5387 - val_loss: 192.7886
Epoch 30/50
23/23 - 0s - loss: 174.9478 - val_loss: 191.7741
Epoch 31/50
23/23 - 0s - loss: 174.1760 - val_loss: 191.3801
Epoch 32/50
23/23 - 0s - loss: 172.6466 - val_loss: 189.9012
Epoch 33/50
23/23 - 0s - loss: 172.4921 - val_loss: 189.2600
Epoch 34/50
23/23 - 0s - loss: 171.6335 - val_loss: 188.6140
Epoch 35/50
23/23 - 0s - loss: 170.5235 - val_loss: 187.7299
Epoch 36/50
23/23 - 0s - loss: 169.6903 - val_loss: 187.1350
Epoch 37/50
23/23 - 0s - loss: 168.9630 - val_loss: 186.0018
Epoch 38/50
23/23 - 0s - loss: 168.5609 - val_loss: 184.7922
Epoch 39/50
23/23 - 0s - loss: 167.2873 - val_loss: 184.4418
Epoch 40/50
23/23 - 0s - loss: 166.6112 - val_loss: 184.1658
Epoch 41/50
23/23 - 0s - loss: 165.7462 - val_loss: 182.9898
Epoch 42/50
23/23 - 0s - loss: 165.2438 - val_loss: 182.3143
Epoch 43/50
23/23 - 0s - loss: 164.7616 - val_loss: 181.5973
Epoch 44/50
23/23 - 0s - loss: 163.9044 - val_loss: 181.3596
Epoch 45/50
23/23 - 0s - loss: 162.9884 - val_loss: 180.5098
Epoch 46/50
23/23 - 0s - loss: 162.1776 - val_loss: 180.0431
Epoch 47/50
23/23 - 0s - loss: 161.6018 - val_loss: 179.5755
Epoch 48/50
23/23 - 0s - loss: 161.2397 - val_loss: 178.6716
Epoch 49/50
23/23 - 0s - loss: 160.0599 - val_loss: 178.1218
Epoch 50/50
23/23 - 0s - loss: 159.6891 - val_loss: 177.7668
--------- MSE 1/2 = 177.77------------------------------------------
Epoch 1/50
23/23 - 0s - loss: 163.3245 - val_loss: 168.0963
Epoch 2/50
23/23 - 0s - loss: 161.6600 - val_loss: 168.0708
Epoch 3/50
23/23 - 0s - loss: 161.0297 - val_loss: 167.4199
Epoch 4/50
23/23 - 0s - loss: 160.5010 - val_loss: 168.1104
Epoch 5/50
23/23 - 0s - loss: 159.4028 - val_loss: 166.7836
Epoch 6/50
23/23 - 0s - loss: 158.3707 - val_loss: 166.1305
Epoch 7/50
23/23 - 0s - loss: 157.9970 - val_loss: 165.8010
Epoch 8/50
23/23 - 0s - loss: 157.3341 - val_loss: 166.3637
Epoch 9/50
23/23 - 0s - loss: 156.8788 - val_loss: 164.8247
Epoch 10/50
23/23 - 0s - loss: 156.2056 - val_loss: 165.5222
Epoch 11/50
23/23 - 0s - loss: 155.5858 - val_loss: 164.3975
Epoch 12/50
23/23 - 0s - loss: 155.0311 - val_loss: 163.6991
Epoch 13/50
23/23 - 0s - loss: 154.5001 - val_loss: 163.6866
Epoch 14/50
23/23 - 0s - loss: 154.0156 - val_loss: 163.7764
Epoch 15/50
23/23 - 0s - loss: 153.1231 - val_loss: 163.0263
Epoch 16/50
23/23 - 0s - loss: 152.7572 - val_loss: 162.2440
Epoch 17/50
23/23 - 0s - loss: 152.4964 - val_loss: 161.8884
Epoch 18/50
23/23 - 0s - loss: 151.6231 - val_loss: 161.1897
Epoch 19/50
23/23 - 0s - loss: 151.5919 - val_loss: 161.1225
Epoch 20/50
23/23 - 0s - loss: 151.0961 - val_loss: 159.9237
Epoch 21/50
23/23 - 0s - loss: 150.5693 - val_loss: 160.4763
Epoch 22/50
23/23 - 0s - loss: 150.0618 - val_loss: 159.8613
Epoch 23/50
23/23 - 0s - loss: 149.7867 - val_loss: 158.9869
Epoch 24/50
23/23 - 0s - loss: 149.2835 - val_loss: 159.3293
Epoch 25/50
23/23 - 0s - loss: 148.7911 - val_loss: 158.5385
Epoch 26/50
23/23 - 0s - loss: 148.7117 - val_loss: 158.1733
Epoch 27/50
23/23 - 0s - loss: 148.2453 - val_loss: 157.9499
Epoch 28/50
23/23 - 0s - loss: 147.7716 - val_loss: 158.5432
Epoch 29/50
23/23 - 0s - loss: 147.2749 - val_loss: 157.6115
Epoch 30/50
23/23 - 0s - loss: 147.1368 - val_loss: 156.5733
Epoch 31/50
23/23 - 0s - loss: 147.1456 - val_loss: 157.2689
Epoch 32/50
23/23 - 0s - loss: 146.5560 - val_loss: 156.0050
Epoch 33/50
23/23 - 0s - loss: 146.2810 - val_loss: 156.2658
Epoch 34/50
23/23 - 0s - loss: 145.9981 - val_loss: 155.6433
Epoch 35/50
23/23 - 0s - loss: 145.7218 - val_loss: 156.9999
Epoch 36/50
23/23 - 0s - loss: 145.1400 - val_loss: 155.2616
Epoch 37/50
23/23 - 0s - loss: 145.0911 - val_loss: 154.8024
Epoch 38/50
23/23 - 0s - loss: 144.7199 - val_loss: 155.6422
Epoch 39/50
23/23 - 0s - loss: 144.3108 - val_loss: 154.8969
Epoch 40/50
23/23 - 0s - loss: 144.1315 - val_loss: 154.6281
Epoch 41/50
23/23 - 0s - loss: 143.8735 - val_loss: 154.7296
Epoch 42/50
23/23 - 0s - loss: 143.7255 - val_loss: 153.4478
Epoch 43/50
23/23 - 0s - loss: 143.5468 - val_loss: 154.3887
Epoch 44/50
23/23 - 0s - loss: 143.5659 - val_loss: 153.2742
Epoch 45/50
23/23 - 0s - loss: 143.4944 - val_loss: 153.9442
Epoch 46/50
23/23 - 0s - loss: 142.5537 - val_loss: 152.7900
Epoch 47/50
23/23 - 0s - loss: 142.1526 - val_loss: 152.7441
Epoch 48/50
23/23 - 0s - loss: 141.8252 - val_loss: 152.7281
Epoch 49/50
23/23 - 0s - loss: 141.7770 - val_loss: 152.5458
Epoch 50/50
23/23 - 0s - loss: 141.2331 - val_loss: 151.6206
--------- MSE 2/2 = 151.62------------------------------------------

In [ ]:
# Calculate the length, the mean and the standard deviation
length_MSE_D = len(MSE_list_D)
mean_MSE_D = np.mean(MSE_list_D)
sd_MSE_D = np.std(MSE_list_D)

In [ ]:
# Print the values
print(f'Number of mean squared errors: {length_MSE_D}')
print(f'Mean of the mean squared errors: {mean_MSE_D:.2f}')
print(f'Standard deviation of the mean squared errors: {sd_MSE_D:.2f}')

Number of mean squared errors: 2
Mean of the mean squared errors: 164.69
Standard deviation of the mean squared errors: 13.07

In [ ]:
# DataFrame

# initialise data of lists. 
data = {'A':[mean_MSE_A , sd_MSE_A], 'B':[mean_MSE_B , sd_MSE_B],
        'C':[mean_MSE_C , sd_MSE_C], 'D':[mean_MSE_D , sd_MSE_D]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['Mean', 'StD'])
df = df.round(2)
  
# print the data 
df

           A       B       C       D
Mean  165.85  979.91  190.39  164.69
StD     0.13  148.46   18.49   13.07